* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
    overflow-x: hidden;
}
/* nav bar vs header */
header {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    padding:30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size:30px;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left:14px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius:20px;
}
header ul li a:hover, header ul li a:active {
    background: #fff;
    color:#2b1055;
}

/* moon background */
section {
    position: relative;
    width:100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
/* đây là khoảng cách giữa text là back ground */
section::before {
    content:'';
    position: absolute;
    bottom:0;
    width:100%;
    height:100px;
    background: linear-gradient(to top,#1c0522, transparent);
    z-index:20;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon {
    mix-blend-mode: screen;
    
}
section img#mountain_front {
    z-index: 10;
}
#btn {
    height:50px;
    text-decoration: none;
    display:inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background:#fff;
    color:#2b1055;
    font-size:1.5em;
    z-index:9;
    transform: translateY(250px);
}
#btn:hover {
    background:#2b1055;
    color:#fff;
}
#text {
    position: absolute;
    color: #fff;
    z-index: 9; 
    font-size:120px;
    right:-361px;
}
.sec {
    position: relative;
    padding:100px;
    background: #1c0522;
}
.sec h2 {
    font-size:3.5em;
    margin-bottom: 10px;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    justify-content: center;
}
.oddpro {
    font-size:30px;
    margin-bottom: 10px;
    color:#fff;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    opacity: 0.5;
}
.sec p {
    font-size: 1em;
    color:#fff;
}
.about {
    display:flex;
    justify-content: space-evenly;
}
.about h3{
    padding: 10px;
    text-transform: uppercase;
    color:#2b1055;
}
.about .avatar {
    width:30%;
    height:fit-content;
    border-radius:10px;
    border: 1px solid black;
    margin-left:20px;
    padding:5px;
    background: #fff;
}
.about .avatar img {
    width:100%;
    height:250px;
    object-fit: cover;
    border-radius:10px;
}
.about .summary {
    width:60%;
    border-radius:10px;
    border: 1px solid black;
    margin-left:20px;
    background: #fff;
    
}
.summary p {
    z-index:9;
    color: black;
    padding:10px;
    text-align: left;
    font-size: 17px;
}
.about .contact {
    width:30%;
    height: fit-content;
    border-radius:10px;
    border: 1px solid black;
    margin-left:20px;
    background: #fff;
}
ul li i {
    padding:10px;
    font-size: 17px;
    color:#2b1055;
    font-weight: lighter;
}
ul li a {
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
    color:black;
    font-weight: 300;
}
.skills {
    display:flex;
    justify-content: space-evenly;
}
.skills h3{
    padding: 8px;
    text-transform: uppercase;
    color:#2b1055;
}
.skills .border-1 {
    width:35%;
    border:1px solid black;
    margin-left:20px;
    background: #fff;
    border-radius: 10px;
}
.skills .border-2 {
    width:35%;
    
    border:1px solid black;
    margin-left:20px;
    background: #fff;
    border-radius: 10px;
}
.skills .border-3 {
    width:35%;
    
    border:1px solid black;
    margin-left:20px;
    background: #fff;
    border-radius: 10px;
}
.skills ul {
    padding-left:24px;
    color: black;
}
.skills ul li {
    padding: 5px;
}
.skills img {
    overflow: hidden;
    width:92%;
    object-fit: cover;
    border-radius: 5px;
}
.edutext2 {
    display:none
}
.education p {
    text-align: center;
    color: black;
    padding:15px;
    font-size:22px;
}
.education .edu1 {
    width:100%;
    height: 200px;
    background: #fff;
    border-radius:10px;
    margin-bottom: 20px;
    vertical-align: middle;
}
.education .edu2 {
    width:100%;
    background: #fff;
    border-radius:10px;
    margin-bottom: 20px;
}
.education h3 {
    padding: 20px;
    text-transform: uppercase;
    color:#2b1055;
    text-align: center;
    font-size:25px;
}
.education hr {
    width:60%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:20%;
}
.invisible-circle {
    background: #1C0522;
    border-radius:50%;
    width:200px;
    
    padding:20px;
    margin-left:-4%;
    margin-top:-3%;
    display:inline-block;
    z-index:9;
}
.circleK {
    position: relative;
    width:160px;
    height: 160px;
    border-radius: 50%;
    background: linear-gradient(#122F50,#3AA8C2,#25587C);
    animation: animate 1.2s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
.circleK span{
    position: absolute;
    width:160px;
    height: 160px;
    border-radius: 50%;
    background: linear-gradient(#122F50,#3AA8C2,#25587C);
}
.circleK :nth-child(1) {
    filter:blur(5px);
}
.circleK :nth-child(2) {
    filter:blur(10px);
}
.circleK :nth-child(3) {
    filter:blur(25px);
}
.circleK :nth-child(4) {
    filter:blur(50px);
}
.circleK::after {
    position: absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    content: '';
    background: linear-gradient(#f4f4f4,#CACACA);
    border-radius: 50%;
}

.funfact {
    display:flex;
    justify-content: space-evenly;
    position: relative;
    width:100%;
    align-items: center;
    margin-left:-12px;
}
.content img {
    width:100px;
    object-fit: cover;
    color:#fff;
}
.funfact .card {
    position: relative;
    width:calc(100%/3);
    height:200px;
    margin-left:20px;
    padding:10px;
    border-radius: 50%;
}
.funfact .card .face {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition: 0.5s;
    border-radius: 30px;
}
.funfact .card .face.face1 {
    background: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.funfact .card .face.face1 h3 {
    margin:10px 0 0;
    color: #2b1055;
    text-align: center;
    font-size:1.5em;
}
.funfact .card:hover .face.face1 {
    position: absolute;
    transform: translateY(-50%) rotateX(90deg);
    background: #1c0522;
}
.funfact .card .face.face2 {
    background: #2b1055;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    transform-origin: top;
    transform: translateY(50%) rotateX(90deg);
}
.funfact .card .face.face2 h3 {
    color:#fff;
}
.funfact .card:hover .face.face2 {
    transform: translateY(0%) rotateX(0deg);
}
.footer {
    background: #1c0522;
     
}
.footer .wave {
    width: 100%;
    height: 227px;
    top:0px;
    left: 0px;
    background: url(./img/wave.png);
    animation: move 6s linear infinite;
}
  
.footer .wave::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 227px;
    margin-bottom: 0;
    left: 0;
    background: url(./img/wave.png);
    opacity: 0.4;
    animation: move-reversed 6s linear infinite;
}

.footer .wave::after {
    content: '';
    width: 100%;
    height: 227px;
    bottom: 0;
    left: 0;
    background: url(./img/wave.png);
    opacity: 0.5;
    animation-delay: -4s;
    animation: move 6s linear infinite;
}
@keyframes move {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 1920px;
    }
}

@keyframes move-reversed {
    0% {
      background-position: 1920px;
    }
    100% {
      background-position: 0%;
    }
}

    /* reponsive */
@media only screen and (max-width:300px) {
    .invisible-circle {
        display: none;
    }
    .circleK {
        display:none;
    }
    .about,.ff,.skills {
        display:block;
    }
    .oddpro {
        font-size:18px;
        margin-top:10px;
    }
    header {
        padding:30px 0px;
        justify-content: space-evenly;
    }
    header ul li{
        margin-left:2px;
    }
    header ul li a {
        font-size:8px;
    }
    header .logo {
        display:none;
    }
    .sec {
        justify-content: center;
    }
    .sec h2 {
        font-size:30px;
        margin-left:-2px;
        text-align: center;
    }
    .oddpro {
        font-size:15px;
    }
    #btn {
        display:none;
    }
    #text {
        display: none;
    }
    .about {
        justify-content: center;
    }
    .about .avatar,.about .summary,.about .contact {
        width:253%;
        text-align: left;
        justify-content: center;
        margin-left:-55px;
        margin-bottom:15px;
    }
    .about .summary p {
        font-size:12px;
        
    }
    .about .contact i a{
        font-size:15px;
    }
    .about .contact i {
        display:block;
        text-align: left;
        justify-content: center;
    }
    .skills .border-1,.skills .border-2,.skills .border-3 {
        width:253%;
        text-align: left;
        justify-content: center;
        margin-left:-55px;
        margin-bottom:15px;
    }
    .funfact {
        display:block;
        align-items: center;
        margin-left:-70px;
    }
    .funfact .card {
        width:200px;
        margin-bottom:20px;
    }
    .funfact .card .content h3 {
        font-size:14px;
    }
    .edutext1 {
        display:none;
    }
    .edutext2 {
        display:block;
        margin-left:-20px;
    }
    .education,.education .edu2,.education .edu1 {
        width: 158%;
        justify-content: center;
        text-align: center;
        margin-left: -25.5%;
    }  
    .education .edu2 h3,.education .edu1 h3 {
        font-size:20px;
    }
}

@media (max-width: 360px) and (min-width:301px) {
    .invisible-circle {
        display: none;
    }
    .circleK {
        display:none;
    }
    .about,.ff,.skills {
        display:block;
    }
    .oddpro {
        font-size:20px;
        margin-top:12px;
    }
    header {
        padding:30px 0px;
        justify-content: space-evenly;
    }
    header ul li{
        margin-left:3px;
    }
    header ul li a {
        font-size:10px;
    }
    header .logo {
        display:none;
    }
    .sec {
        justify-content: center;
    }
    .sec h2 {
        font-size:40px;
        margin-left:-2px;
        text-align: center;
    }
    #btn {
        display:none;
    }
    #text {
        display: none;
    }
    .about {
        justify-content: center;
    
    }
    .about .avatar,.about .summary,.about .contact {
        width:165%;
        text-align: left;
        justify-content: center;
        margin-left:-40px;
        margin-bottom:15px;
    }
    .about .summary p {
        font-size:12px;
        
    }
    .about .contact i a{
        font-size:15px;
    }
    .about .contact i {
        display:block;
        text-align: left;
        justify-content: center;
    }
    .skills .border-1,.skills .border-2,.skills .border-3 {
        width:165%;
        text-align: left;
        justify-content: center;
        margin-left:-40px;
        margin-bottom:15px;
    }
    .funfact {
        display:block;
        align-items: center;
        
    }
    .funfact .card {
        width:155%;
        margin-bottom:20px;
        margin-left:-12%;
    }
    .funfact .card .content h3 {
        font-size:14px;
    }
    .edutext1 {
        display:none;
    }
    .edutext2 {
        display:block;
        margin-left:-20px;
    }
    .education,.education .edu2,.education .edu1 {
        width: 127%;
        justify-content: center;
        text-align: center;
        margin-left: -10.5%;
    }  
    .education .edu2 h3,.education .edu1 h3 {
        font-size:20px;
    }
}
@media only screen and (max-width: 414px) and (min-width: 361px) {
    .invisible-circle {
        display: none;
    }
    .circleK {
        display:none;
    }
    .about,.ff,.skills {
        display:block;
    }
    .oddpro {
        font-size:23px;
        margin-top:15px;
    }
    header {
        padding:30px 0px;
        justify-content: space-evenly;
    }
    header ul li{
        margin-left:6px;
    }
    header ul li a {
        font-size:13px;
    }
    header .logo {
        display:none;
    }
    .sec {
        justify-content: center;
    }
    .sec h2 {
        font-size:40px;
        margin-left:-2px;
        text-align: center;
    }
    #btn {
        display:none;
    }
    #text {
        display: none;
    }
    .about {
        justify-content: center;
    
    }
    .about .avatar,.about .summary,.about .contact {
        width:130%;
        text-align: left;
        justify-content: center;
        margin-left:-11%;
        margin-bottom:15px;
    }
    .about .contact i a{
        font-size:15px;
    }
    .about .contact i {
        display:block;
        text-align: left;
        justify-content: center;
    }
    .skills .border-1,.skills .border-2,.skills .border-3 {
        width:130%;
        text-align: left;
        justify-content: center;
        margin-left:-11%;
        margin-bottom:15px;
    }
    .funfact {
        display:block;
        align-items: center;
        margin-left:-16%;
    }
    .funfact .card {
        width:120%;
        margin-bottom:20px;
    }
    .funfact .card .content h3 {
        font-size:14px;
    }
    
    .edutext1 {
        display:none;
    }
    .edutext2 {
        display:block;
    }
    .education,.education .edu2,.education .edu1 {
        width: 110%;
        justify-content: center;
        margin-left:-3%;
        text-align: center;
    }  
    .education .edu2 h3,.education .edu1 h3 {
        font-size:20px;
    }
}
@media only screen and (max-width: 576px) and (min-width:415px){
    .invisible-circle {
        display: none;
    }
    .circleK {
        display:none;
    }
    .about,.ff,.skills {
        display:block;
    }
    .oddpro {
        font-size:23px;
        margin-top:15px;
    }
    header {
        padding:30px 50px;
    }
    
    header ul li a {
        font-size:13px;
    }
    header .logo {
        display:none;
    }
    #btn {
        display:none;
    }
    #text {
        display: none;
    }
    .about {
        justify-content: center;
        width:100%;
    }
    .about .avatar,.about .summary,.about .contact {
        width:89%;
        text-align: left;
        justify-content: center;
        margin-bottom:10px;
        font-size:15px;
    }
    
    .about .contact ul li i{
        display:block;
        text-align: left;
    }
    .skills .border-1,.skills .border-2,.skills .border-3 {
        width:89%;
        text-align: left;
        justify-content: center;
        margin-bottom:15px;
    }
    .skills .border-1 h3,.skills .border-2 h3,.skills .border-3 h3 {
        font-size:17px;
        padding:5px;
    }
    .skills .border-1 ul li,.skills .border-2 ul li,.skills .border-3 ul li {
        font-size:12px;
    }
    .funfact {
        display:block;
        align-items: center;
        margin-left:-11%;
    }
    .funfact .card {
        width:110%;
        margin-bottom:20px;
    }
    .funfact .card .content h3 {
        font-size:18px;
    }
    .edutext1 {
        display:none;
    }
    .edutext2 {
        display:block;
    }
    .education,.education .edu2,.education .edu1 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .education h3 {
        font-size:23px;
        padding:5px;
    }
    .education p {
        font-size:17px;
    }
}
@media only screen and (max-width: 769px) and (min-width:577px) {
    header {
        padding:30px 64px;
    }
    header ul li a {
        font-size:16px;
    }
    header .logo {
        font-size:25px;
    }
    #text {
        display:none;
    }
    #btn {
        display:none;
    }
    .oddpro {
        font-size:23px;
        margin-top:15px;
    }
    .about,.skills {
        display:block;
    }
    .about .avatar,.about .summary,.about .contact {
        width:89%;
        height:auto;
        text-align: left;
        justify-content: center;
        margin-bottom:10px;
    }
    .skills .border-1,.skills .border-2,.skills .border-3 {
        width:89%;
        text-align: left;
        justify-content: center;
        margin-bottom:15px;
    }
    .invisible-circle {
        display:none;
    }
    .funfact {
        
        align-items: center;
        
    }
    .funfact .card {
        width:calc(100%/3);
        margin-bottom:20px;
    }
    .funfact .card .content h3 {
        font-size:13px;
    }
   
}
@media only screen and (max-width: 1024px) and (min-width: 770px){ 
    #btn {
        display:none;
    }
    #text {
        display:none;
    }
    .invisible-circle {
        margin-left:-7%;
        margin-top:22.3%;
    }
    .funfact .card .content h3 {
        font-size:16px;
    }
@media (min-width: 1500px) {
    #text {
        right:-455px;
    }
}
@media (min-width: 1600px) {
    header .logo {
        font-size:50px;
    }
    header ul li a {
        font-size: 30px;
    }
    .skills .border-1 ul li,.skills .border-2 ul li,.skills .border-3 ul li {
        font-size:24px;
    }
    .about .avatar,.about .summary,.about .contact {
        width:100%;
        text-align: left;
        justify-content: center;
        margin-bottom:10px;
        
    }
    .about .summary p {
        font-size:24px;
    }
    .about .contact ul li i a {
        font-size:24px;
    }
    
}